
.cardf {
    width: 250px;
    height: 230px;
    transform: scale(1);
    transition: 0.5s;
}

.cardf:hover {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 5px 10px 15px -2px #888;

}

.workout-card-trashcan {
    position: absolute;
    top: 75%;
    left: 5%;
    width: 15%;
    height: 15%;
    cursor: pointer;
    transform: scale(1);
    transition: 0.5s;
}

.workout-card-trashcan:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.workout-card-info {
    position: absolute;
    top: 75%;
    left: 75%;
    width: 15%;
    height: 15%;
    cursor: pointer;
    transform: scale(1);
    transition: 0.5s;
}

.workout-card-info:hover {
    transform: scale(1.1);
    transition: 0.5s;
}