.introNavbar {
    background-color: black;
    height: 80px;
    display: flex;
    top: 0;
}

.introNavbar-container {
    display: flex;
    justify-content: center;
}

.introNavbar-logo {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    font-size: 1.75em;
    color: white;
    text-decoration: none;
    font-family: "Lucida Console", monospace;
}