.pop-up-save-gw{
    position: relative;
    background-color: #DBDBDB;
    padding: 10px;
    border-radius: 10px;
    border-color: #1a1a1a;
    box-shadow: 20px 20px 15px -2px rgb(80, 80, 80, 0.6);
}

.pop-up-outer-bonds-gw{
    position: fixed;
    top: -19%;
    left: -111%;
    width: 99.96vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(4px);
}

.conj-confirm-cancel-buttons-gw{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.cancel-card-gw {
    transition: 0.3s;
    transform: scale(1);
    display: flex;
    background-color: #737373;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    height: 30px;
    width: 45%;
    margin: 20px 10px;
    cursor: pointer;
}

.confirm-card-gw {
    transition: 0.3s;
    transform: scale(1);
    display: flex;
    background-color: #258c17;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    height: 30px;
    width: 45%;
    margin: 20px 10px;
    cursor: pointer;
}

.text-box-popup-gw {

}