.register {
    color: rgb(170, 170, 170);
    height: 100vh;
    width: 100vw;
}

.content-register {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.register-back-link {
    width: 50px;
    height: 50px;
    left: 50px;
    top: 50px;
}

.register-back-icon {
    height: 50px;
    width: 50px;
    color: rgba(255, 0, 0, 0.493);
}

.paper-style-register {
    height:70%;
    width:70%;
    margin: auto;
}










/*.register {
    color: rgb(170, 170, 170);
    height: 100vh;
    width: 100vw;
}

.content-register {
    height: 100%;
    width: 100%;
    top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 100px;
    align-items: center;
    margin: auto;
    padding: 1rem;
    background-color: rgb(238, 238, 238);
}

.paper-style-register {
    padding:30px;
    height:75%;
    width:70%;
}

.register-box-elements {
    padding:30px;
    display: flex;
    justify-content: space-between;
    column-gap: 10%;
    align-items: center;

}

.profile-photo-circle{
    width: 100px;
    height: 100px;
    color: rgb(170, 170, 170);
    margin: auto;
}

.register-left-colum {
    justify-content: center;
    align-items: center;
    width: 90%;
}

.register-right-colum {
    justify-content: center;
    align-items: center;
    width: 90%;
}

.register-form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register-form-field {
    padding: 20px 0px;
    position: relative;
}

.register-form-icon {
    position: absolute;
    top: 30px;
    color: rgb(100, 96, 96);
}

.register-form-input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    font-family: "Lucida Console";
    font-size: 100%;
    width: 100%;
    transition: 0.5s;
}

.gender-title-register {
    font-family: "Lucida Console";
    font-weight: 700;
    font-size: 100%;
    width: 100%;
}

.gender-option-register {
    font-family: "Adelle Sans Devanagari";
}

.register-form-input:active,
.register-form-input:focus,
.register-form-input:hover {
    outline: none;
    border-bottom-color: rgb(226, 160, 17);
}

.register-form-password-icon {
    position: absolute;
    right: 0;
    top: 30px;
    color: rgb(100, 96, 96);
    cursor: pointer;
}

.register-form-button {
    background: #fff;
    font-size: 1rem;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 26px;
    border: 1px solid rgb(100, 96, 96);
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 20%;
    color: rgb(100, 96, 96);
    box-shadow: 0px 2px 2px rgb(100, 96, 96);
    cursor: pointer;
    transition: .2s;
}

.register-form-button:hover,focus,active {
    border-color: rgb(226, 160, 17);
    outline: none;
}

.register-form-button-icon {
    font-size: 24px;
    margin-left: auto;
    color: rgb(100, 96, 96);
}

.register-forgetpwd {
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.25em;
    cursor: pointer;
}


.register-back-link {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50px;
    top: 50px
}

.register-back-icon {
    height: 50px;
    width: 50px;
    color: rgba(255, 0, 0, 0.493);
}*/