.navbar {
    background-color: rgb(100, 96, 96);
    height: 80px;
    display: flex;
    top: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    font-size: 1.75em;
    color: white;
    text-decoration: none;
    font-family: "Lucida Console", monospace;
}

.navbar-intro-menu {
    display: flex;
    padding: 1rem;
}

.navbar-intro-menu li {
    padding: 1rem;
    font-size: 1.75em;
    color: white;
    font-family: "Lucida Console", monospace;
}

