.popup {
    position: fixed;
    top:0px;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(4px);    
}

.pop {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 550px;
    max-height: 600px;
    background-color: #FFF;
    box-shadow: 20px 20px 15px -2px rgb(80, 80, 80, 0.6);
}

.pop .popup-close {
    position: absolute;
    top:16px;
    right:20px;
    cursor: pointer;
    transform: scale(1);
    transition: 0.5s;
}

.pop .popup-close:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.popup-title {
    text-align: left;
}

.overview-cardGeneratedWorkout {
    width: 100%;
    height: 100%;
    transform: scale(0.75);
    transition: 0.5s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top:-50px;
    
}

.exercises-cardGeneratedWorkout {
    width:100%;
    text-align: center;
}

.scroll-popup {
    overflow:scroll;
    overflow-x:hidden;
    height: 450px;
    position: relative;
    top:20px;
}

.exercise-exercise-card-gw {

    background-color: #DBDBDB;
    border-radius: 10px;
    width: 90%;
    padding: 10px 10px;
    margin: 20px 0px;
    position: relative;
    left:5%;
    
    
}

.kg-rep-card {
    display: flex;
    align-items: center;
}

.overview-reps-card-gw {
    border-radius: 10px;
    background-color: #FFFFFF;
    height: 45px;
    display: flex;
    text-align: center;
    padding: 5px 10px;
    margin: 20px 10px;
    right: 0px;
    width:90px;
    flex-direction: column;
}

.exercise-conj-reps-set-card-gw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exercises-info-icon-gw {
    transition: 0.3s;
    transform: scale(1);
    cursor: pointer;
    position: absolute;
    right:430px;
    top:10px;
}

.exercises-info-icon-gw:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.exericse-edit-bt {
    transition: 0.3s;
    transform: scale(1);
    cursor: pointer;
    position: relative;
    justify-content: space-between;
    color: black;
    margin:10px 10px;
    top:90%;
}

.exercise-edit-bt:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.confirm-card-calendar {
    transition: 0.3s;
    transform: scale(1);
    border-radius: 10px;
    position: relative;
    background-color: #258c17;
    width: 40%;
    left:29%;
    height: 45px;
    align-content: center;
    justify-content: center;
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin: 40px 0px;
    cursor: pointer;
}

.add-set-card-calendar {
    transition: 0.3s;
    transform: scale(1);
    border-radius: 10px;
    position: relative;
    background-color: #258c17;
    width: 40%;
    left:30%;
    height: 45px;
    align-content: center;
    justify-content: center;
    display: flex;
    column-gap: 10px;
    align-items: center;
    cursor: pointer;
}

.kgs-card-cw {
    border-radius: 10px;
    background-color: #DBDBDB;
    border-style: hidden;
    top:-15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    padding: 5px 10px;
    margin: 20px 5px;
    font-size: 20px
}

.exercise-kgs-card-gw {
    border-radius:10px;
    border:1px solid #000;
    height: 45px;
    top:0px;
    position: relative;
}