.saved-wo-title {
    width: 1240px;
    margin: 4rem auto;
    padding: 3.5rem 6rem;
}


.saved-wo-title h2 {
    font-size: 3rem;
}

.all-cards {
    position: absolute;
    top: 200px;
    left: 2%;
}

.card1 {
    position: absolute;
}

.card2 {
    position: absolute;
    left: 300px;
}

.card3 {
    position: absolute;
    top: 260px;
}

.card4 {
    position: absolute;
    left: 300px;
    top: 260px;
}

.card5 {
    position: absolute;
    top: 520px;

}

.card6 {
    position: absolute;
    left: 300px;
    top: 520px;
}

.card7 {
    position: absolute;
    top: 780px;
}

.card8 {
    position: absolute;
    left: 300px;
    top: 780px;
}