
.overview {
    width: 100vw;
    height: 100%;
}

.overview-elements {
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.overview-left-column {
    width: 1200px;
    height: 1000px;
    padding: 25px 25px;
    text-align:center;
}

/*.overview-right-column {
    position: fixed;
    top: 60%;
    left: 60%;
    width: 50%;
    height: 50%;
    
}*/









.overview-right-column {
    position: fixed;
    top: 60%;
    left: 60%;
    width: 50%;
    height: 50%;
}

@media screen and (max-width:1030px) {
    
    .overview-right-column {
        position: fixed;
        top: 60%;
        left:605px;
        width: 50%;
        height: 50%;
    }

    @media screen and (max-height:650px) {
        .overview-right-column {
            top: 390px;
            left:605px;
        }
    }    
}

@media screen and (max-height:650px) {
    
    .overview-right-column {
        position: fixed;
        top: 390px;
        left:60%;
        width: 50%;
        height: 50%;
    }

    @media screen and (max-width:1030px) {
        .overview-right-column {
            left:605px;
        }
    }
}