
.overview {
    width: 100vw;
    height: 100%;
}

.overview-elements {
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.overview-left-column {
    width: 50%;
    height: 100%;
    padding: 25px 25px;
    text-align:center;
}

.overview-right-column {
    width: 50%;
    height: 100%;
    position: relative;
    left: 50%;
    padding: 0px 25px;
}









/*.overview-injuries {
    position: fixed;
    top: 60%;
    left: 65%;
    width: 50%;
    height: 50%;
}

@media screen and (max-width:1030px) {
    
    .overview-injuries {
        position: fixed;
        top: 60%;
        left:660px;
        width: 50%;
        height: 50%;
    }

    @media screen and (max-height:650px) {
        .overview-injuries {
            top: 390px;
        }
    }    
}

@media screen and (max-height:650px) {
    
    .overview-injuries {
        position: fixed;
        top: 390px;
        left:65%;
        width: 50%;
        height: 50%;
    }

    @media screen and (max-width:1030px) {
        .overview-injuries {
            left:660px;
        }
    }
}*/